
        <form id="add_user" method="post">
            <div class="new-user">
                <div class="form-group">
                    <label for="name" class="text-light">Name</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="name" placeholder="User Name">
                </div>

                <div class="form-group">
                    <label for="name" class="text-light">Name</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="name" placeholder="User Name">
                </div>

                <div class="form-group">
                    <label for="name" class="text-light">Gender</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="name" placeholder="Gender">
                </div>

                <div class="form-group">
                    <label for="name" class="text-light">Status</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="name" placeholder="Status">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn text-dark update ">Save</button>
                </div>
            </div>
        </form>